{% extends 'base.html.twig' %}
{% block contenu %}
    <div id="contenu-home">
        <h2>About Us</h2>
        <p>Tel: 0617513524</p>
        <p>Mail: tanguy.camus2021@campus-eni.fr</p>
        <p>City: Penmarc'h / Nantes</p>
    </div>
{% endblock %}