{% extends 'base.html.twig' %}
{% block contenu %}
    <div id="contenu-home">
        <img src="{{ asset('img/logo.svg') }}" alt="Logo" id="contenu-home-logo">
        <h2>Welcome on the Bucket-list site</h2>
        <p>This website is an exercice to learn how the framework Symfony for PHP work!</p>
        <p>Website made by Tanguy Camus.</p>
    </div>
{% endblock %}