{% extends 'base.html.twig' %}
{% block contenu %}
    <div id="contenu-legal">
        <h2>Legal stuff</h2>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nunc in velit tempus tempor eget vel
            dolor.
            Quisque non nibh sed diam finibus condimentum. Integer sagittis purus ut leo euismod, id elementum arcu
            consectetur. Nunc nec est non quam mattis iaculis quis eu orci. Mauris sollicitudin finibus finibus.
            Suspendisse
            leo ex, sagittis at eleifend sed, varius vel velit. Duis metus nunc, lobortis a efficitur vel, gravida sit
            amet
            leo. Morbi vel gravida odio, vel pretium est. Sed sollicitudin ex rutrum leo accumsan, vel volutpat velit
            convallis.

            Pellentesque arcu odio, ultricies a lobortis eu, posuere id nisl. Mauris maximus in sapien a elementum. Ut
            accumsan sem ut metus viverra bibendum. Vivamus venenatis auctor elit ac egestas. Etiam ultrices justo
            nulla, ac
            pellentesque purus venenatis eget. Cras nec massa sit amet orci ornare suscipit. In porta elit leo, sit amet
            porta velit vestibulum eu. Aliquam eu nibh eget diam aliquet pulvinar ac id leo. Ut commodo orci molestie,
            lacinia nibh et, sodales diam. Aenean fringilla erat ac lorem placerat scelerisque. Morbi volutpat porta
            purus,
            id varius dui consequat a. Mauris eu lectus eget ante convallis finibus nec sed neque. Aliquam urna quam,
            dapibus a egestas sed, aliquam in felis.

            Donec molestie neque vel odio porta, pulvinar viverra elit sagittis. Ut justo quam, tempus eget risus et,
            convallis volutpat elit. Phasellus ut erat lectus. Vestibulum cursus blandit quam, a placerat est
            ullamcorper a.
            Aliquam a iaculis est. In finibus, massa non hendrerit volutpat, urna nulla vulputate ante, eget placerat
            diam
            nunc euismod urna. Nulla ullamcorper lorem convallis justo porta ornare. Vivamus lacinia vel lacus sed
            aliquet.
            Donec dignissim sit amet orci nec bibendum. Nunc sit amet leo non arcu lacinia consectetur a in sem.
            Suspendisse
            neque nisi, dictum at ante efficitur, vehicula tristique justo. Nullam rutrum feugiat nunc sit amet luctus.
            Pellentesque vitae ullamcorper ex. Sed pellentesque in lectus nec sagittis. Proin aliquam scelerisque est,
            in
            sodales ex lobortis a. Suspendisse imperdiet placerat lorem, id viverra elit iaculis ac.

            Morbi blandit, dolor ac pharetra imperdiet, nulla massa iaculis nunc, a malesuada purus tellus nec felis.
            Sed
            vulputate fringilla dolor, sed facilisis neque auctor eu. Proin rhoncus felis sit amet tellus accumsan, et
            ultricies nulla porttitor. Maecenas lobortis erat elit, a blandit sapien sollicitudin ut. Aliquam lorem
            odio,
            mattis ut nibh vel, aliquet hendrerit turpis. Morbi felis lectus, gravida id massa id, maximus elementum
            magna.
            Nunc vitae tincidunt eros. Morbi condimentum erat dui, sit amet aliquam ligula egestas nec. Aenean bibendum
            eu
            lorem sed tempor.

            Vestibulum magna eros, pulvinar ac massa vitae, tincidunt maximus nunc. Morbi egestas nunc ac lacus
            molestie,
            tempor aliquet enim tincidunt. Curabitur sed orci nec ligula tristique laoreet cursus sit amet sem.
            Suspendisse
            feugiat a nisl ac euismod. Pellentesque ultrices, eros eu tristique convallis, nibh est sagittis odio,
            aliquam
            sollicitudin nisi elit eget elit. Donec tempor ultrices turpis nec tincidunt. Suspendisse aliquet justo
            justo,
            in pellentesque purus lacinia ac. Integer dictum vitae augue non porta. Sed in consectetur turpis. Mauris
            auctor
            tempus neque et vulputate. Praesent vulputate, mi convallis consequat ultricies, felis metus tristique est,
            quis
            consectetur urna sem vel risus. Ut aliquet, libero et finibus auctor, erat diam ullamcorper erat, in
            consequat
            erat enim tincidunt ipsum. Donec sagittis blandit tempor. </p>
    </div>
    <script src="{{ asset('js/legal.js') }}"></script>
{% endblock %}