html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
}

#content {
    flex: 1 0 auto;
}

#entete {
    background-color: var(--color-entete);
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-bottom-color: var(--color-border);
    border-bottom-width: 5px;
}

.entete-div{
    width: 100%;
}

#titre {
    text-align: center;
}

#menu {
    display: flex;
    background-color: var(--color-menu);
}

.bouton-menu {
    background-color: var(--color-menu);
    border: var(--color-menu);
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.bouton-menu:hover {
    background-color: var(--color-border);
    border: var(--color-border);
}

.bouton-menu:disabled {
    background-color: var(--color-border);
    border: var(--color-border);
    color: black;
}

#pied {
    flex-shrink: 0;
    background: var(--color-footer);
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* home */
#contenu-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contenu-home-logo {
    width: 100px;
}

#login-button{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.log-btn{
    background-color: var(--color-footer);
    border: var(--color-footer);
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.log-btn:hover{
    background-color: var(--color-border);
    border: var(--color-border);
    width: 100%;
    height: 50px;
    font-size: 20px;
}

/* wish */
#contenu-wish {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: var(--color-border);
}

#wish-selector-category {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bouton-category {
    background-color: var(--color-menu);
    border: var(--color-menu);
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.bouton-category:hover {
    background-color: var(--color-border);
    border: var(--color-border);
}

.bouton-category:disabled {
    background-color: var(--color-border);
    border: var(--color-border);
    color: black;
}

#titre-wish {
    width: 100%;
    text-align: center;
}

.wish-list-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.element-a {
    background-color: whitesmoke;
}

.element-b {
    background-color: white;
}

.element-a:hover {
    background-color: gray;
}

.element-b:hover {
    background-color: gray;
}

.icon-img {
    display: flex;
}

.wish-list-element a {
    color: black;
    text-decoration: none;
}

.wish-list-element div {
    width: 100%;
    padding-bottom: 50px;
}

.icon-img {
    cursor: pointer;
}

/* wishdetails */
#contenu-wishdetails {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: var(--color-border);
    text-align: center;
}

#author-wishdetails {
    width: 100%;
    text-align: center;
}

#div-bouton-modify{
    width: 100%;
    display: flex;
    justify-content: center;
}

#bouton-modify{
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: var(--color-menu);
    border: var(--color-menu);
}

#bouton-modify:hover{
    background-color: var(--color-border);
    border: var(--color-border);
}

/* addWish */
#contenu-addwish {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: var(--color-border);
    text-align: center;
    padding-bottom: 10px;
}

/* legal stuff */
#contenu-legal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}